*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tinos', 'sans-serif';
}

.container {
    width: 100vw;
    background-color: #55a5dc;
    padding: 20px;
}

.title {
    font-family: 'comfortaa';
    text-align: center;
    color: white;
    font-size: 2em;
}

.table {
    border-collapse: collapse;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    line-height: 3;
}

.border {
    text-align: center;
    border-bottom: 1px solid #dedede;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 0 10px;
}

.input-number {
    width: 60%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-smic {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input-option {
    max-width: 50px;
    text-align: center;
}

.options {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
}

.option {
    background-color: rgb(229, 229, 229);
}

.statuts {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
}

.statut {
    background-color: rgb(229, 229, 229);
    padding: 5px;
}

.no-frame, .frame, .official, .salary-portage, .independent, .auto-entrepreneur {
    position: relative;
    top: 1px;
    left: -2px;
}

.hidden {
    display: none;
}

.text-footer {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

@media screen and (max-width: 1050px) {
    .table, .options ,.statuts {
        width: 900px;
    }
}
@media screen and (max-width: 950px) {
    .table, .options ,.statuts {
        width: 750px;
    }

    .statuts {
        flex-direction: column;
    }
    .statut {
        margin: 8px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 790px) {
    .table, .options ,.statuts {
        width: 600px;
    }
    .title {
        font-size: 1.6em;
    }
}
@media screen and (max-width: 680px) {
    .table, .options ,.statuts {
        width: 450px;
    }
    .options {
        flex-direction: column;
    }
    .option {
        text-align: left;
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 8px;
    }
    .input-rate, .input-hour {
        margin: 0 130px;
    }
    .input-month {
        margin: 0 135px;
    }
    .title {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 500px) {
    .table, .statuts, .options {
        width: 300px;
    }

    .input-rate, .input-hour {
        margin: 0 10px;
    }
    .input-month {
        margin: 0 15px;
    }
}
@media screen and (max-width: 350px) {
    .table, .statuts, .options {
        width: 220px;
    }
    .title {
        font-size: 1.3em;
    }
    .text-footer {
        font-size: 1em;
    }
}